<h3>Count Cash</h3>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        1 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_1" min="0">
      </td>
      <td>
        2 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_2" min="0">
      </td>
    </tr>
    <tr>
      <td>
        5 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_5" min="0">
      </td>
      <td>
        10 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_10" min="0">
      </td>
    </tr>
    <tr>
      <td>
        20 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_20" min="0">
      </td>
      <td>
        50 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_50" min="0">
      </td>
    </tr>
    <tr>
      <td>
        100 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_100" min="0">
      </td>
      <td>
        500 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash_500" min="0">
      </td>
    </tr>
  </tbody>
</table>


<div class="text-center">
  <label>Total :</label>{{total}}
</div>

<div class="text-center">
  <label>Diference:</label>{{diference}}
</div>

<div class="btn btn-lg btn-primary col-md-12">
  Done
</div>