<h3>Count Cash</h3>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        1 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_1" min="0" ng-change="cash1Update()">
      </td>
      <td>
        2 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_2" min="0" ng-change="cash2Update()">
      </td>
    </tr>
    <tr>
      <td>
        5 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_5" min="0" ng-change="cash5Update()">
      </td>
      <td>
        10 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_10" min="0" ng-change="cash10Update()">
      </td>
    </tr>
    <tr>
      <td>
        20 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_20" min="0" ng-change="cash20Update()">
      </td>
      <td>
        50 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_50" min="0" ng-change="cash50Update()">
      </td>
    </tr>
    <tr>
      <td>
        100 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_100" min="0" ng-change="cash100Update()">
      </td>
      <td>
        500 x
      </td>
      <td>
        <input type="number" class="form-control" ng-model="cash.v_500" min="0" ng-change="cash500Update()">
      </td>
    </tr>
  </tbody>
</table>


<div class="text-center">
  <label>Total :</label>{{total}}
</div>