<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='ManagerCtrl'
<% end %>

<% content_for :seach_navbar do %>
  
<% end %>

<div class="row">

  <div class="col-md-12">
    <div class="row">
      
      <!-- Options -->
      <div class="col-md-4">
        <%= render 'options' %>
      </div>

      <!-- Main content -->
      <div class="col-md-8 main_content" ng-if="manager_mode == 'day_begin'">
        <%= render 'day_begin' %>
      </div>
      <div class="col-md-8 main_content" ng-if="manager_mode == 'day_end'">
        <%= render 'day_end' %>
      </div>

    </div>
  </div>

</div>