<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='ManagerCtrl'
<% end %>

<% content_for :seach_navbar do %>
  
<% end %>

<div class="row">

  <div class="col-md-12">
    <div class="row">
      
      <!-- Options -->
      <div class="col-md-4">
        <h2>Options</h2>
      </div>

      <!-- Main content -->
      <div class="col-md-8 main_content">
        <h2>Manager</h2>
      </div>

    </div>
  </div>

</div>