<h2>Clients</h2>

<table class="table table-striped">
  <thead>
    <th>
      Name 
      <span class="dropup">
        <span class="caret" ng-click="orderCriteria('name')"></span>
      </span>
      <span class="caret" ng-click="orderCriteria('-name')"></span>
    </th>
    <th>DNI</th>
    <th>Balance</th>
    <th>Subscription date</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients | orderBy:order_selected | filter:clients_search">
      <td>{{client.name}}</td>
      <td>{{client.dni}}</td>
      <td>{{client.balance | number: 2}}</td>
      <td>{{client.subscription_date}}</td>
      <td ng-if="client.active">
        <button type="button" class="btn btn-success" ng-click="editClient(client)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="deactivate(client)">X</button>
      </td>
      <td ng-if="! client.active">
        <button type="button" class="btn btn-success" ng-click="activate(client)">Activate</button>
      </td>
    </tr>
  </tbody>
</table>