<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='CostumersCtrl'
<% end %>

<% content_for :seach_navbar do %>
  <li class="page-scroll" ng-if="costumers_mode == 'list'">
    <%= render 'search_engine' %>
  </li>
<% end %>

<div class="row">
  
  <div class="col-md-12">
    <div class="row">
      
      <!-- Options -->
      <div class="col-md-4">
        <div class="row" ng-if="costumers_mode == 'list'  || costumers_mode == 'client_edit'">
          <%= render 'options' %>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-md-8 main_content" ng-if="costumers_mode == 'list'">
        <%= render 'client_list' %>
      </div>
      <div class="col-md-8 main_content" ng-if="costumers_mode == 'client_edit'">
        <%= render 'client_edit' %>
      </div>

    </div>
  </div>

</div>