<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='CostumersCtrl'
<% end %>

<% content_for :seach_navbar do %>
  <li class="page-scroll" ng-if="costumers_mode == 'list'">
    <%= render 'search_engine' %>
  </li>
<% end %>

<div class="row">
  
  <div class="col-md-12">
    <div class="row">
      
      <!-- Options -->
      <div class="col-md-4">
        <div class="col-md-12 panel_options ">
          <h3>Register a new Client</h3>
          <form role="form" name="client_form">
            <div class="row">
              <!-- Name -->
              <div class="col-md-12 form-group" ng-class="{'has-error': client_form.clientName.$invalid, 'has-success': client_form.clientName.$valid}">
                <input class="form-control" type="text" placeholder="Name" ng-model="new_client_form.name" required/>
              </div>
              <!-- DNI -->
              <div class="col-md-12 form-group" ng-class="{'has-error': client_form.clientDNI.$invalid, 'has-success': client_form.clientDNI.$valid}">
                <input class="form-control" type="text" placeholder="DNI" ng-model="new_client_form.dni" required/>
              </div>
            </div>
            <!-- Done -->
            <div class="text-center">
              <div class="btn btn-lg btn-primary col-md-12" ng-disabled="client_form.$invalid" ng-click="CreateClient()">Done</div>
            </div>
          </form>
        </div>

        <div class="col-md-12 panel_options">
          <!-- Export List -->
          <div class="text-center">
            <div class="btn btn-lg btn-primary col-md-12" ng-click="ExportList()">Export List</div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-md-8 main_content" ng-if="costumers_mode == 'list'">
        <%= render 'client_list' %>
      </div>
      <div class="col-md-8 main_content" ng-if="costumers_mode == 'client_edit'">
        <%= render 'client_edit' %>
      </div>

    </div>
  </div>

</div>