<div class="col-md-12">
  <div class="row">      
    
    <div ng-if="top_articles.combos.length > 0">
      <div ng-repeat="combo in top_articles.combos" class="col-md-2"  ng-click="AddComboToCart(combo)">
        <div class="col-md-offset-1 col-md-10 combo-bestseller  text-center">
          <img src="{{combo.photo}}" class="img-combo img-thumbnail">
          <h5>{{combo.name|limitTo:9}}</h5>
          <h6>{{combo.price.value}}</h6>
        </div>
      </div>
    </div>
    <div ng-if="top_articles.products.length > 0">
      <div ng-repeat="product in top_articles.products" class="col-md-2" ng-click="AddProductToCart(product)">
        <div class="col-md-offset-1 col-md-10 product-bestseller  text-center">
          <img src="{{product.photo}}" class="img-product img-thumbnail">
          <h5>{{product.name}}</h5>
          <h6>{{product.price.value}}</h6>
        </div>
      </div>
    </div>
    <div ng-if="top_articles.products.length == 0 && top_articles.combos.length == 0">
      No Articles available
    </div>

  </div>
</div>