<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='SellCtrl'
<% end %>

<% content_for :seach_navbar do %>
  <%= render 'search_engine' %>
<% end %>

<div class="row">

  <!-- Best seller articles -->
  <%= render 'bestsellers' %>

  <!-- Cart & Payment form -->
  <%= render 'cart_payment' %>

</div>
