<div ng-app='app.sellApp' ng-controller='SellCtrl'>
  <div class="row">
    
    <div class="col-md-12">
      <div class="row">      
        
        <div class="col-md-2">
          <div class="col-md-offset-1 col-md-10 product-bestseller text-center">
            <h5>Product 1</h5>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12 search-engine sell-panel">
      <input id="product-search" name="product-search" class="form-control" autofocus="autofocus" placeholder="Search product"/>
    </div>

    <div class="col-md-12 sell-panel">
      <div class="row">
        
        <div class="col-md-6 cart">
            <h4 class="text-center">Cart</h4>
        </div>
        
        <div class="col-md-6">
          <div class="col-md-offset-1 col-md-10 search-client">
        
            <input id="client-search" name="client-search" class="form-control" autofocus="autofocus" placeholder="Search client" ng-model="data_client" ng-change="searchClient()"/>

            </br>

            <div class="row">
              <div class="col-md-3">
                <b>ID:</b>
              </div> 
              <div class="col-md-9">{{client_dni}}</div>
              </br>
              <div class="col-md-3">
                <b>Name:</b>
              </div> 
              <div class="col-md-9">{{client_name}}</div>
              </br>
              <div class="col-md-3">
                <b>Balance:</b>
              </div> 
              <div class="col-md-9">{{client_balance}}</div>
            </div>

            <h4>Register a new client</h4>

            <div class="row">
              <div class="col-md-12">
                <input id="new-client-id" name="new-client-id" class="form-control" placeholder="Client ID" ng-model="new_client_dni"/>
              </div>
              <div class="col-md-12">
                <input id="new-client-name" name="new-client-name" class="form-control" placeholder="Client name" ng-model="new_client_name"/>
              </div> 
            </div>

            <h4>Payment settings</h4>            
            

            <div class="row">
              
              <div class="col-md-12">
                <input id="client-cash-used" name="client-cash-used" class="form-control" placeholder="Cash amount" ng-model="client_cash_used">
              </div>
              
              </br></br>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-10">
                    <b>Use from account:</b>
                  </div>
                  <div class="col-md-2">
                    0
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-10">
                    <b>Recharge account:</b>
                  </div>
                  <div class="col-md-2">
                    0
                  </div>
                </div>
              </div>

              </br></br>

            </div>
                
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12 text-center sell-button" ng-click="sell()">
      <h3>Sell</h3>

    </div>

  </div>
</div>