<div class="col-md-12 panel_options ">
  <h3>Consult movements and bills</h3>
  <form role="form" name="consult_form">
    <div class="row">
      <!-- Consult From -->
      <div class="col-md-12 form-group" ng-class="{'has-error': consult_form.dateFrom.$invalid, 'has-success': consult_form.dateFrom.$valid}">
        <h5>From:</h5>
        <input type="date" class="form-control" ng-model="consult_from" required>
      </div>
      <!-- Consult To -->
      <div class="col-md-12 form-group" ng-class="{'has-error': consult_form.dateTo.$invalid, 'has-success': consult_form.dateTo.$valid}">
        <h5>To:</h5>
        <input type="date" class="form-control" ng-model="consult_to" required>
      </div>
    </div>
    <!-- Done -->
    <div class="text-center">
      <div class="btn btn-lg btn-primary col-md-12" ng-disabled="consult_form.$invalid" ng-click="Consult()">Done</div>
    </div>
  </form>
</div>

<div class="col-md-12 panel_options ">
  <h3>Create a cash transaction</h3>
  <form role="form" name="transaction_form">
    <div class="row">
      <!-- Description -->
      <div class="col-md-12 form-group" ng-class="{'has-error': transaction_form.cashTransactionDescription.$invalid, 'has-success': client_form.cashTransactionDescription.$valid}">
        <textarea class="form-control" type="text" placeholder="Description" ng-model="new_cash_transaction_form.description" required></textarea>
      </div>
      <!-- Amount -->
      <div class="col-md-12 form-group" ng-class="{'has-error': transaction_form.cashTransactionAmount.$invalid, 'has-success': transaction_form.cashTransactionAmount.$valid}">
        <input class="form-control" type="number" placeholder="Amount" ng-model="new_cash_transaction_form.amount" min="0"  ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>
      </div>
      <!-- Type -->
      <div class="col-md-12 form-group" ng-class="{'has-error': transaction_form.cashTransactionType.$invalid, 'has-success': transaction_form.cashTransactionType.$valid}">
        <select class="form-control" type="text" placeholder="Type" ng-model="new_cash_transaction_form.type" required>
          <option value="deposit">Deposit</option>
          <option value="withdraw">Withdraw</option>
        </select>
      </div>
    </div>
    <!-- Done -->
    <div class="text-center">
      <div class="btn btn-lg btn-primary col-md-12" ng-disabled="transaction_form.$invalid" ng-click="CreateTransaction()">Done</div>
    </div>
  </form>
</div>