<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='TransactionsBills2Ctrl'
<% end %>

<% content_for :seach_navbar do %>
  
<% end %>

<div class="row">
  
  <div class="col-md-12">
    <div class="row">
      
      <!-- Options -->
      <div class="col-md-4">
        <div class="row">
          <%= render 'options' %>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-md-8 main_content">
          <%= render 'bills_list' %>
          <%= render 'transactions_list' %>
      </div>

    </div>
  </div>

</div>
