<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='TransactionsBillsCtrl'
<% end %>

<% content_for :seach_navbar do %>
  
<% end %>

<div class="row">
  
  <h1>Test</h1>

</div>
