<h2>Create a combo</h2>

<form role="form" name="new_combo_form">
  <div class="row">
    <!-- Name -->
    <div class="col-md-12 form-group" ng-class="{'has-error': new_combo_form.comboName.$invalid, 'has-success': new_combo_form.comboName.$valid}">
      <input class="form-control" type="text" placeholder="Name" ng-model="new_combo.name" required/>
    </div>
    <!-- Price -->
    <div class="col-md-12 form-group" ng-class="{'has-error': new_combo_form.comboPrice.$invalid, 'has-success': new_combo_form.comboPrice.$valid}">
      <input class="form-control" type="number" placeholder="Price" ng-model="new_combo.price.value" min="0" required/>
    </div>
    <!-- Stock amount -->
    <div class="col-md-12 form-group" ng-class="{'has-error': new_combo_form.comboStockAmount.$invalid, 'has-success': new_combo_form.comboStockAmount.$valid}">
      <input class="form-control" type="number" placeholder="Stock Amount" ng-model="new_combo.stock_amount.value" min="0" required/>
    </div>
    <!-- Photo -->
    <div class="col-md-12 form-group">
      <input class="form-control" type="url" placeholder="New Photo URL" accept="image/png,image/gif,image/jpeg" ng-model="new_combo.photo" required/>
    </div>
    <!-- Associated products panel -->
    <div class="col-md-12 form-group">
      <div class="row">
        <!-- Products founded -->
        <div class="col-md-5">
          <input class="form-control" type="text" placeholder="Search products to associate whit this combo" ng-model="search_products" ng-change="SearchProducts()"/>
          <div class="row text-center" ng-if="founded_products.length > 0">
            <div ng-repeat="product in founded_products" class="col-md-12 product-searched" ng-click="AddProductToCombo(product)">
              <div class="row">
                <div class="col-md-5">
                  <img src="{{product.photo}}" class="img-product img-thumbnail">
                </div>
                <div class="col-md-7">
                  <br>
                    <h4>{{product.name |limitTo:9}}</h4>
                    <h4>{{product.price.value}}</h4>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="founded_products.length == 0 && search_products.length != 0"  class="row text-center">
            <div class="col-md-12 product-searched">
              no founded
            </div>
          </div>
        </div>
        <!-- Associated products -->
        <div class="col-md-7">
          <table id="table_cart" class="table table-striped">
            <thead>
              <th>Photo</th>
              <th>Name</th>
              <th>Amount</th>
              <th>Options</th>
            </thead>
            <tbody>
              <tr ng-repeat="product in new_combo.products">
                <td><img src="{{product.photo}}" class="img-product img-thumbnail"></td>
                <td>{{product.name}}</td>
                <td>
                  <div class="col-md-12 form-group" ng-class="{'has-error': sell_form.article_number.$invalid, 'has-success': sell_form.article_number.$valid}">
                    <input class="form-control" type="number" min="1"placeholder="amount" ng-model="product.amount" ng-change="UpdateAmountProduct(product)" integer required/>
                  </div>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" ng-click="DeleteProductOfCombo(product)">X</button  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- Done -->
  <div class="btn btn-lg btn-primary col-md-12" ng-disabled="new_combo_form.$invalid" ng-click="CreateComboSubmit()">Done</div>
  <!-- Cancel -->
  <div class="btn btn-lg btn-danger col-md-12" ng-click="CreateComboCancel()">Cancel</div>
</form>