<h3>Edit Combo</h3>
<form role="form" name="edit_combo_form">
  <div class="row">
    <!-- Name -->
    <div class="col-md-12 form-group" ng-class="{'has-error': edit_combo_form.comboName.$invalid, 'has-success': edit_combo_form.comboName.$valid}">
      Name
      <input class="form-control" type="text" placeholder="Name" ng-model="edit_combo.name" required/>
    </div>
    <!-- Price -->
    <div class="col-md-12 form-group" ng-class="{'has-error': edit_combo_form.comboPrice.$invalid, 'has-success': edit_combo_form.comboPrice.$valid}">
      Actual price was set in {{edit_combo.price.created_at | date:'medium'}}
      <input class="form-control" type="number" placeholder="Price" ng-model="edit_combo.price.value" min="0" required/>
    </div>
    <!-- Photo -->
    <div class="col-md-12 form-group">
      Actual photo</br>
      <img src="{{edit_combo.photo}}" class="img-combo img-thumbnail">
      <input class="form-control" type="url" placeholder="New Photo URL" accept="image/png,image/gif,image/jpeg" ng-model="edit_combo.photo_new"/>
    </div>
  </div>
  <!-- Done -->
  <div class="btn btn-lg btn-primary col-md-12" ng-disabled="edit_combo_form.$invalid" ng-click="EditComboSubmit()">Done</div>
  <!-- Cancel -->
  <div class="btn btn-lg btn-danger col-md-12" ng-disabled="edit_combo_form.$invalid" ng-click="EditComboCancel()">Cancel</div>
</form>