<h3>Edit Product</h3>
<form role="form" name="edit_product_form">
  <div class="row">
    <!-- Name -->
    <div class="col-md-12 form-group" ng-class="{'has-error': edit_product_form.productName.$invalid, 'has-success': edit_product_form.productName.$valid}">
      Name
      <input class="form-control" type="text" placeholder="Name" ng-model="edit_product.name" required/>
    </div>
    <!-- Price -->
    <div class="col-md-12 form-group" ng-class="{'has-error': edit_product_form.productPrice.$invalid, 'has-success': edit_product_form.productPrice.$valid}">
      Actual price was set in {{edit_product.price.created_at | date:'medium'}}
      <input class="form-control" type="number" placeholder="Price" ng-model="edit_product.price.value" min="0" required/>
    </div>
    <!-- Photo -->
    <div class="col-md-12 form-group">
      Actual photo</br>
      <img src="{{edit_product.photo}}" class="img-product img-thumbnail">
      <input class="form-control" type="url" placeholder="New Photo URL" accept="image/png,image/gif,image/jpeg" ng-model="edit_product.photo_new"/>
    </div>
    <!-- Tags -->
    <div class="col-md-12 form-group">
      <h3>Tags</h3>
      
      <table class="table table-striped" ng-if="edit_product.tags.length > 0">
        <thead>
          <th>Name</th>
          <th>Options</th>
        </thead>
        <tbody>
          <tr ng-repeat="tag in edit_product.tags">
            <td>{{tag.name}}</td>
            <td>
              <button type="button" class="btn btn-danger" ng-click="DeleteTagFromProduct(tag)">X</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="col-md-12 form-group" ng-class="{'has-error': edit_product_form.productNewTags.$invalid, 'has-success': edit_product_form.productNewTags.$valid}">
        Add new Tags (separate by comma and no spaces):
        <input class="form-control" type="text" placeholder="New Tags" ng-model="edit_product.new_tags"/>
      </div>

      <p ng-if="edit_product.tags.length == 0">No tags associated to this product</p>
    </div>
    <!-- Providers -->
    <div class="col-md-12 form-group">
      <h3>Providers</h3>
      
      <table class="table table-striped" ng-if="edit_product.providers.length > 0">
        <thead>
          <th>Name</th>
          <th>Options</th>
        </thead>
        <tbody>
          <tr ng-repeat="provider in edit_product.providers">
            <td>{{provider.name}}</td>
            <td>
              <button type="button" class="btn btn-danger" ng-click="DeleteProviderFromProduct(provider)">X</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="col-md-12 form-group" ng-class="{'has-error': edit_product_form.productNewProviders.$invalid, 'has-success': edit_product_form.productNewProviders.$valid}">
        Add new Providers (separate by comma and no spaces):
        <input class="form-control" type="text" placeholder="New Providers" ng-model="edit_product.new_providers"/>
      </div>

      <p ng-if="edit_product.providers.length == 0">No providers associated to this product</p>
    </div>
  </div>
  <!-- Done -->
  <div class="btn btn-lg btn-primary col-md-12" ng-disabled="edit_product_form.$invalid" ng-click="EditProductSubmit()">Done</div>
  <!-- Cancel -->
  <div class="btn btn-lg btn-danger col-md-12" ng-disabled="edit_product_form.$invalid" ng-click="EditProductCancel()">Cancel</div>
</form>