<!-- Modal -->
<div class="modal fade" id="myModalProduct" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{details_product.name}}</h4>
      </div>
      <div class="modal-body">
        <div>
          <img src="{{details_product.photo}}" class="img-responsive img-product img-thumbnail img-centered">
        </div>
        <h4>Stock amount: {{details_product.stock_amount}}</h4>
        <h4>Sales amount: {{details_product.sales_amount}}</h4>
        
        <h4>Prices</h4>
        <ul>
          <li ng-repeat="price in details_product.prices">
            {{price.value | number: 2}} at {{price.created_at | date:'medium'}}
          </li>
        </ul>
        
        <h4>Tags</h4>
        <ul ng-if="details_product.tags.length > 0">
          <li ng-repeat="tag in details_product.tags">{{tag.name}}</li>
        </ul>
        <p ng-if="details_product.tags.length == 0">No tags associated to this product</p>

        <h4>Providers</h4>
        <ul ng-if="details_product.providers.length > 0">
          <li ng-repeat="provider in details_product.providers">{{provider.name}}</li>
        </ul>
        <p ng-if="details_product.providers.length == 0">No providers associated to this product</p>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<h2>Products</h2>

<table id="table_products" class="table table-striped">
  <thead>
    <th>Photo</th>
    <th>
      Name 
      <span class="dropup">
        <span class="caret" ng-click="orderCriteria('name')"></span>
      </span>
      <span class="caret" ng-click="orderCriteria('-name')"></span>
    </th>
    <th>Price</th>
    <th>Stock</th>
    <th>Sales</th>
    <th>Options</th>
  </thead>
  <tbody>
    <tr ng-repeat="product in articles.products | orderBy:order_selected | filter:articles_search" class="product_list">
      <td><img src="{{product.photo}}" class="img-product img-thumbnail"></td>
      <td>{{product.name}}</td>
      <td>{{product.price.value | number: 2}}</td>
      <td>{{product.stock_amount}}</td>
      <td>{{product.sales_amount}}</td>
      <td ng-if="product.active">
        <button type="button" class="btn btn-primary" ng-click="ViewDetailsProduct(product)">Details</button>
        <button type="button" class="btn btn-success" ng-click="EditProduct(product)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="DeactivateProduct(product)">X</button>
      </td>
      <td ng-if="! product.active">
        <button type="button" class="btn btn-primary" ng-click="ViewDetailsProduct(product)">Details</button>
        <button type="button" class="btn btn-success" ng-click="ActivateProduct(product)">Activate</button>
      </td>
    </tr>
  </tbody>
</table>