<li class="page-scroll">
  <div class="search-engine">
    <div class="row">
      <div class="col-md-12">
        <input class="form-control" autofocus="autofocus" placeholder="Search products or combos" ng-model="articles_search"/>
      </div>
    </div>
  </div>
</li>