<% content_for :app_controller do %>
  ng-app='app.sellApp' ng-controller='InventoryCtrl'
<% end %>

<% content_for :seach_navbar do %>
  <li class="page-scroll">
    <div class="search-engine">
      <div class="row">
        <div class="col-md-12">
          <input class="form-control" autofocus="autofocus" placeholder="Search products or combos" ng-model="articles_search" size="50"/>
        </div>
      </div>
    </div>
  </li>
<% end %>

<div class="row">
  
  <div class="col-md-12">
    <div class="row">
      
      <!-- Options -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 panel_options ">
            <h3>Create a new Product</h3>
            <form role="form" name="product_form">
              <div class="row">
                <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productName.$invalid, 'has-success': product_form.productName.$valid}">
                  <input class="form-control" type="text" placeholder="Name" ng-model="new_product_name" required/>
                </div>
                <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productPrice.$invalid, 'has-success': product_form.productPrice.$valid}">
                  <input class="form-control" type="number" placeholder="Price" ng-model="new_product_price" required/>
                </div>
                <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productStockAmount.$invalid, 'has-success': product_form.productStockAmount.$valid}">
                  <input class="form-control" type="number" placeholder="Stock amount" ng-model="new_product_stock_amount" required/>
                </div>
                <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productTags.$invalid, 'has-success': product_form.productTags.$valid}">
                  <input class="form-control" type="text" placeholder="Tags" ng-model="new_product_tags" required/>
                </div>
                <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productProviders.$invalid, 'has-success': product_form.productProviders.$valid}">
                  <input class="form-control" type="text" placeholder="Providers" ng-model="new_product_providers" required/>
                </div>
                <div class="col-md-12 form-group" ng-class="{'has-error': product_form.productPhoto.$invalid, 'has-success': product_form.productPhoto.$valid}">
                  <input class="form-control" type="file" placeholder="Photo" file-model="new_product_photo"/>
                </div> 
              </div>
              <div class="text-center">
                <div class="btn btn-lg btn-primary col-md-12" ng-disabled="product_form.$invalid" ng-click="CreateProduct()">Done</div>
              </div>
            </form>
          </div>
          <div class="col-md-12 panel_options">
            <div class="text-center">
              <div class="btn btn-lg btn-primary col-md-12" ng-click="AddInventory()">Add product to inventory</div>
            </div>
          </div>
          <div class="col-md-12 panel_options">
            <div class="text-center">
              <div class="btn btn-lg btn-primary col-md-12" ng-click="CreateCombo()">Create Combo</div>
            </div>
          </div>
          <div class="col-md-12 panel_options">
            <div class="text-center">
              <div class="btn btn-lg btn-primary col-md-12" ng-click="ExportList()">Export List</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-md-8 main_content">
        
          <table id="table_inventory" class="table table-striped">
            <thead>
              <th>Photo</th>
              <th>
                Name 
                <span class="dropup">
                  <span class="caret" ng-click="orderCriteria('name')"></span>
                </span>
                <span class="caret" ng-click="orderCriteria('-name')"></span>
              </th>
              <th>Price</th>
              <th>Stock</th>
              <th>Tags</th>
              <th>Provider</th>
              <th>Options</th>
            </thead>
            <tbody>
              <tr ng-repeat="product in articles.products | orderBy:order_selected | filter:articles_search">
                <td><img src="{{product.photo}}" class="img-product img-thumbnail"></td>
                <td>{{product.name}}</td>
                <td>Price</td>
                <td>{{product.stock_amount}}</td>
                <td>Tags</td>
                <td>Providers</td>
                <td>
                  <button type="button" class="btn btn-success">Edit</button>
                  <button type="button" class="btn btn-danger">X</button  >
                </td>
              </tr>
            </tbody>
          </table>
        
      </div>

    </div>
  </div>

</div>