// Place all the styles related to the Example controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$login-text-color: #fff;
$color-border: #ccc;

$bestseller-color: #aaa;
$product-bestseller-color: #ddd;
$product-bestseller-color-hover: #eee;

$search-engine-color: #080808;
$cart-color: #bbb;
$search-client-color: #bbb;

.margen {
	margin-top: 80px;
}

#logo {
	width: 100%;
}

.logintext {
	color: $login-text-color;
}

.form_field_navbar {
	border: 1px solid $color-border;
	border-radius: 4px;
}

.bestseller {
	background-color: $bestseller-color;
}

.product-bestseller {
	background-color: $product-bestseller-color;
	padding-top: 10px;
}

.product-bestseller:hover {
	background-color: $product-bestseller-color-hover;
	cursor: pointer;
}

.sell-panel {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.search-engine {
	background-color: $search-engine-color;
}

.cart {
	background-color: $cart-color;
}

.search-client {
	background-color: $search-client-color;
	padding-top: 20px;
}

.sell-button {
	margin-top: 20px;
	background-color: #428bca;
	color: white;
}