// Colors

$login-text-color: #fff;
$color-border: #ccc;

$bestseller-color: #aaa;
$combo-bestseller-color: #999;
$combo-bestseller-color-hover: #aaa;
$product-bestseller-color: #ddd;
$product-bestseller-color-hover: #eee;

$search-engine-color: #080808;
$cart-color: #bbb;
$search-client-color: #bbb;

$panel-options-color: #ddd;

/* Options */

.margen {
	margin-top: 80px;
}

#logo {
	width: 100%;
}

.logintext {
	color: $login-text-color;
}

.form_field_navbar {
	border: 1px solid $color-border;
	border-radius: 4px;
}

.bestseller {
	background-color: $bestseller-color;
}

.combo-bestseller {
	background-color: $combo-bestseller-color;
	padding-top: 10px;
}

.combo-bestseller:hover {
	background-color: $combo-bestseller-color-hover;
	cursor: pointer;
}

.product-bestseller {
	background-color: $product-bestseller-color;
	padding-top: 10px;
}

.product-bestseller:hover {
	background-color: $product-bestseller-color-hover;
	cursor: pointer;
}

.sell-panel {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.search-engine {
	margin-top: 8px;
}

.cart {
	background-color: $cart-color;
}

.search-client {
	background-color: $search-client-color;
	padding-top: 20px;
}

/* Panel */

.panel_options {
	background-color: $panel-options-color;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.img-product {
	height: 104px;
	min-height: 5px;
}