// Place all the styles related to the inventory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_list {
	cursor: pointer;
}

.product-searched {
	background-color: #999;
	color: white;
	cursor: pointer;
}

.product-searched:hover {
	background-color: #ccc;
	color: black;
}