// Place all the styles related to the Example controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#searched_articles {
	background-color: #ccc;
	position: absolute;
    left: 0px;
    top: 0px;
    margin-top: 10px;
	z-index: 5;
	max-height:200px;
    overflow: auto;
    overflow-x:hidden;    
}

.article_photo {
	width: 100%;
}

.article-searched {
	cursor: pointer;
}

@media (min-width: 992px) {
	.article-searched {
		width: 290px;	
	}
}

@media (min-width: 1200px) {
	.article-searched {
		width: 290px;	
	}
}

@media (min-width: 768px) {
	.article-searched {
		width: 260px;	
	}
}

.article-searched:hover {
	background-color: #999;
	color: white;
}